* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: medium;
}

.menu-btn {
    background-color: #0d5bc2d3;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

.menu-btn:hover {
    background-color: #161616d3;
}

#new-meta {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0d5bc2d3;
    color: white;
    padding: 10px 20px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #161616d3;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.back-btn {
    background-color: #f44336;
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 0.9rem;
}
